adf/PL_CUSTOMER360_MASTER.json
{
  "_comment": "ADF Pipeline — Customer 360 Medallion Lakehouse Orchestration",
  "_description": "Master orchestration pipeline. Runs daily at 02:00 UTC. Triggers Bronze → DQ → Silver → Gold → Snowflake in sequence. Uses Execute Pipeline activities for modularity.",

  "name": "PL_CUSTOMER360_MASTER",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "Master orchestration for Customer 360 Medallion pipeline. Runs Bronze ingestion, data quality validation, Silver transforms, Gold aggregation, and Snowflake load in sequence.",
    "parameters": {
      "batch_date": {
        "type": "String",
        "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
      },
      "environment": {
        "type": "String",
        "defaultValue": "prod"
      },
      "abort_on_dq_failure": {
        "type": "Bool",
        "defaultValue": true
      }
    },
    "variables": {
      "pipeline_run_id": { "type": "String" },
      "dq_passed":       { "type": "Boolean", "defaultValue": true }
    },
    "activities": [

      {
        "name": "Set Run ID",
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipeline_run_id",
          "value": "@pipeline().RunId"
        }
      },

      {
        "name": "01 - Bronze Ingestion",
        "type": "DatabricksNotebook",
        "dependsOn": [{ "activity": "Set Run ID", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "notebookPath": "/Repos/customer360/notebooks/01_bronze_ingestion",
          "baseParameters": {
            "batch_date":      "@pipeline().parameters.batch_date",
            "pipeline_run_id": "@variables('pipeline_run_id')"
          }
        },
        "linkedServiceName": { "referenceName": "LS_Databricks_Customer360", "type": "LinkedServiceReference" }
      },

      {
        "name": "02 - Data Quality Checks",
        "type": "DatabricksNotebook",
        "dependsOn": [{ "activity": "01 - Bronze Ingestion", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "notebookPath": "/Repos/customer360/notebooks/04_data_quality",
          "baseParameters": {
            "batch_date":      "@pipeline().parameters.batch_date",
            "pipeline_run_id": "@variables('pipeline_run_id')"
          }
        },
        "linkedServiceName": { "referenceName": "LS_Databricks_Customer360", "type": "LinkedServiceReference" }
      },

      {
        "name": "DQ Gate — Passed?",
        "type": "IfCondition",
        "dependsOn": [{ "activity": "02 - Data Quality Checks", "dependencyConditions": ["Succeeded", "Failed"] }],
        "typeProperties": {
          "expression": {
            "value": "@and(equals(activity('02 - Data Quality Checks').Status, 'Succeeded'), pipeline().parameters.abort_on_dq_failure)"
          },
          "ifTrueActivities": [
            {
              "name": "03 - Silver Transforms",
              "type": "DatabricksNotebook",
              "typeProperties": {
                "notebookPath": "/Repos/customer360/notebooks/02_silver_transforms",
                "baseParameters": { "batch_date": "@pipeline().parameters.batch_date" }
              },
              "linkedServiceName": { "referenceName": "LS_Databricks_Customer360", "type": "LinkedServiceReference" }
            },
            {
              "name": "04 - Gold Aggregation",
              "type": "DatabricksNotebook",
              "dependsOn": [{ "activity": "03 - Silver Transforms", "dependencyConditions": ["Succeeded"] }],
              "typeProperties": {
                "notebookPath": "/Repos/customer360/notebooks/03_gold_customer_360",
                "baseParameters": { "batch_date": "@pipeline().parameters.batch_date" }
              },
              "linkedServiceName": { "referenceName": "LS_Databricks_Customer360", "type": "LinkedServiceReference" }
            },
            {
              "name": "05 - Copy to Snowflake",
              "type": "Copy",
              "dependsOn": [{ "activity": "04 - Gold Aggregation", "dependencyConditions": ["Succeeded"] }],
              "typeProperties": {
                "source": {
                  "type": "ParquetSource",
                  "storeSettings": {
                    "type": "AzureBlobFSReadSettings",
                    "recursive": true,
                    "wildcardFolderPath": "gold/customer_360"
                  }
                },
                "sink": {
                  "type": "SnowflakeSink",
                  "importSettings": {
                    "type": "SnowflakeImportCopyCommand",
                    "additionalCopyOptions": { "ON_ERROR": "CONTINUE" }
                  }
                }
              },
              "inputs": [{ "referenceName": "DS_ADLS_Gold_Parquet", "type": "DatasetReference" }],
              "outputs": [{ "referenceName": "DS_Snowflake_Customer360", "type": "DatasetReference" }]
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Alert — DQ Failure",
              "type": "WebActivity",
              "typeProperties": {
                "url": "https://prod-webhook.example.com/dq-alert",
                "method": "POST",
                "body": {
                  "pipeline":    "@pipeline().Pipeline",
                  "run_id":      "@pipeline().RunId",
                  "batch_date":  "@pipeline().parameters.batch_date",
                  "message":     "DATA QUALITY CHECKS FAILED — Gold promotion blocked",
                  "environment": "@pipeline().parameters.environment"
                }
              }
            }
          ]
        }
      }
    ]
  },

  "_trigger": {
    "name": "TR_Customer360_Daily",
    "type": "ScheduleTrigger",
    "typeProperties": {
      "recurrence": {
        "frequency": "Day",
        "interval": 1,
        "startTime": "2024-01-01T02:00:00Z",
        "timeZone": "UTC"
      }
    },
    "pipelines": [{ "pipelineReference": { "type": "PipelineReference", "referenceName": "PL_CUSTOMER360_MASTER" } }]
  },

  "_linked_services_required": [
    "LS_Databricks_Customer360  — Azure Databricks (token-based, Key Vault reference)",
    "LS_ADLS_Customer360        — Azure Data Lake Storage Gen2 (managed identity)",
    "LS_Snowflake_Customer360   — Snowflake (username + password via Key Vault)"
  ],

  "_datasets_required": [
    "DS_ADLS_Landing_CSV      — CSV files in ADLS landing zone",
    "DS_ADLS_Gold_Parquet     — Parquet files in ADLS Gold zone",
    "DS_Snowflake_Customer360 — Snowflake GOLD.CUSTOMER_360 table"
  ]
}
